*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

h1, h2 {
  font-weight: 900;
}

h3 {
  font-weight: 800;
}

h4 {
  font-weight: 700;
}

p {
  margin: 0
}

a {
  text-decoration-skip-ink: auto;
  color: var(--fg);
}

a[href^=http] {
  text-decoration: underline dotted;
}

a:hover {
  background-color: var(--fg);
  color: var(--bg);
  text-decoration: none;
}

img, picture {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}

figcaption {
  padding-top: 1rem;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

blockquote {
  border-left: 1px dotted var(--fg);
  padding-left: 1rem;
  margin: 0;
}

:target {
  scroll-margin-block: 5ex;
}

:root {
  --fg: #000;
  --bg: #fff;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss03' 1, 'cv05' 1;
  font-size: 16px;
}

@media (prefers-color-scheme:dark) {
  :root {
    --fg: #fafafa;
    --bg: #000;
  }
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

nav { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
  img {
    width: max(10%, 100px)
  } 
  a {
    display: block;
    width: fit-content;
    text-decoration: none;
  }
  a.active {
    font-style: italic;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}

main {
  max-width: 650px;
  padding-left: 2rem;
  > * {
    margin-top: 1.5em;
  }
}

footer {
  margin: 2rem 2rem 0 2rem;
  padding-block: 2rem;
  border-top: 1px dotted var(--fg);
}
