<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <img src="./logo.jpg" alt="Logo">
    </nav>
    <main>
      Not found
    </main>
    <footer>
      <p>Made by Maxwell</p>
    </footer>
  </body>
</html>
